In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('1.01. Simple linear regression.csv')

In [3]:
df.head()

    SAT   GPA
0  1714  2.40
1  1664  2.52
2  1760  2.54
3  1685  2.74
4  1693  2.83

In [11]:
x = df['SAT']
y = df['GPA']

In [12]:
x.shape

(84,)

In [25]:
x_matrix = x.values.reshape(-1,1)

In [26]:
x_matrix.shape

(84, 1)

In [27]:
from sklearn.linear_model import LinearRegression

In [28]:
lm = LinearRegression()

In [29]:
lm.fit(x_matrix,y)

LinearRegression()

In [18]:
lm.coef_

array([0.00165569])

In [30]:
lm.score(x_matrix,y)

0.40600391479679765

In [32]:
new_data = pd.DataFrame(data=[1740,1760],columns=['SAT'])
new_data

    SAT
0  1740
1  1760

In [34]:
lm.predict(new_data)

array([3.15593751, 3.18905127])